<nb-card>
  <nb-card-header>
    <div class="header">
      <div class="header__info">
        <h5 class="header__title">{{ 'users.title' | translate }}</h5>
        <p class="header__subtitle">{{ 'users.subtitle' | translate }}</p>
      </div>
      <button
        nbButton
        status="primary"
        size="small"
        (click)="openCreateUser()"
        [disabled]="!canCreateUser"
        ngxHasPermission="api:users:create"
      >
        <nb-icon icon="person-add-outline"></nb-icon>
        {{ 'users.add_user' | translate }}
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="loading" class="loading">
      <nb-spinner size="large" status="primary"></nb-spinner>
    </div>

    <nb-alert *ngIf="!loading && !hasListPermission" status="warning">
      {{ 'cluster.no_permission_hint' | translate }}
    </nb-alert>

    <ng2-smart-table
      *ngIf="!loading && hasListPermission"
      [settings]="settings"
      [source]="source"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

