<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <nb-card>
      <nb-card-header>
        <h5>{{ isEditMode ? ('cluster.edit_cluster' | translate) : ('cluster.add_cluster' | translate) }}</h5>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="clusterForm" (ngSubmit)="onSubmit()">
          <!-- Organization Selection (Super Admin Only) -->
          <div class="form-group" *ngIf="isSuperAdmin">
            <label for="organization" class="label">{{ 'cluster.form.organization_label' | translate }} *</label>
            <nb-form-field>
              <nb-select
                formControlName="organization_id"
                id="organization"
                [placeholder]="'cluster.form.organization_placeholder' | translate"
                [status]="clusterForm.get('organization_id')?.invalid && clusterForm.get('organization_id')?.touched ? 'danger' : 'basic'"
                fullWidth
              >
                <nb-option *ngFor="let org of organizations" [value]="org.id">
                  {{ org.name }}
                  <span class="text-hint" *ngIf="org.code"> ({{ org.code }})</span>
                </nb-option>
              </nb-select>
            </nb-form-field>
            <ng-container *ngIf="clusterForm.get('organization_id')?.invalid && clusterForm.get('organization_id')?.touched">
              <small class="form-text text-danger">
                {{ 'cluster.form.organization_required' | translate }}
              </small>
            </ng-container>
          </div>

          <!-- Organization Display (Org Admin) -->
          <div class="form-group" *ngIf="!isSuperAdmin && currentOrganization">
            <label class="label">{{ 'cluster.form.organization_label' | translate }}</label>
            <div class="alert alert-info d-flex align-items-center">
              <nb-icon icon="info-outline" class="me-2"></nb-icon>
              <span>{{ currentOrganization.name }} <span class="text-hint">({{ currentOrganization.code }})</span></span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="label">{{ 'cluster.form.name_label' | translate }} *</label>
                <input
                  nbInput
                  fullWidth
                  type="text"
                  id="name"
                  formControlName="name"
                  [placeholder]="'cluster.form.name_placeholder' | translate"
                  [status]="clusterForm.get('name')?.invalid && clusterForm.get('name')?.touched ? 'danger' : 'basic'"
                />
                <small class="form-text text-danger" *ngIf="clusterForm.get('name')?.invalid && clusterForm.get('name')?.touched">
                  {{ 'cluster.form.name_required' | translate }}
                </small>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="catalog" class="label">Catalog</label>
                <input
                  nbInput
                  fullWidth
                  type="text"
                  id="catalog"
                  formControlName="catalog"
                  placeholder="default_catalog"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="deployment_mode" class="label">{{ 'cluster.form.deployment_mode_label' | translate }} *</label>
                <nb-form-field>
                  <nb-select
                    formControlName="deployment_mode"
                    id="deployment_mode"
                    [placeholder]="'cluster.form.deployment_mode_placeholder' | translate"
                    [status]="clusterForm.get('deployment_mode')?.invalid && clusterForm.get('deployment_mode')?.touched ? 'danger' : 'basic'"
                    fullWidth
                  >
                    <nb-option value="shared_nothing">{{ 'cluster.form.shared_nothing' | translate }}</nb-option>
                    <nb-option value="shared_data">{{ 'cluster.form.shared_data' | translate }}</nb-option>
                  </nb-select>
                </nb-form-field>
                <ng-container *ngIf="clusterForm.get('deployment_mode')?.invalid && clusterForm.get('deployment_mode')?.touched">
                  <small class="form-text text-danger">
                    {{ 'cluster.form.deployment_mode_required' | translate }}
                  </small>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="label">{{ 'cluster.form.description_label' | translate }}</label>
            <textarea
              nbInput
              fullWidth
              id="description"
              formControlName="description"
              [placeholder]="'cluster.form.description_placeholder' | translate"
              rows="3"
            ></textarea>
          </div>

          <h6 class="mt-4">{{ 'cluster.form.connection_info' | translate }}</h6>
          <hr />

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="fe_host" class="label">{{ 'cluster.form.fe_host_label' | translate }} *</label>
                <input
                  nbInput
                  fullWidth
                  type="text"
                  id="fe_host"
                  formControlName="fe_host"
                  placeholder="192.168.1.100"
                  [status]="clusterForm.get('fe_host')?.invalid && clusterForm.get('fe_host')?.touched ? 'danger' : 'basic'"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="fe_http_port" class="label">{{ 'cluster.form.http_port_label' | translate }} *</label>
                <input
                  nbInput
                  fullWidth
                  type="number"
                  id="fe_http_port"
                  formControlName="fe_http_port"
                  placeholder="8030"
                />
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="fe_query_port" class="label">{{ 'cluster.form.query_port_label' | translate }} *</label>
                <input
                  nbInput
                  fullWidth
                  type="number"
                  id="fe_query_port"
                  formControlName="fe_query_port"
                  placeholder="9030"
                />
              </div>
            </div>
          </div>

          <h6 class="mt-4">{{ 'cluster.form.auth_info' | translate }}</h6>
          <hr />

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="username" class="label">{{ 'cluster.form.username_label' | translate }} *</label>
                <input
                  nbInput
                  fullWidth
                  type="text"
                  id="username"
                  formControlName="username"
                  placeholder="root"
                  [status]="clusterForm.get('username')?.invalid && clusterForm.get('username')?.touched ? 'danger' : 'basic'"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="password" class="label">{{ isEditMode ? ('cluster.form.password_label_edit' | translate) : ('cluster.form.password_label' | translate) }} {{ isEditMode ? '' : '*' }}</label>
                <input
                  nbInput
                  fullWidth
                  type="password"
                  id="password"
                  formControlName="password"
                  [placeholder]="'cluster.form.password_placeholder' | translate"
                  [status]="clusterForm.get('password')?.invalid && clusterForm.get('password')?.touched ? 'danger' : 'basic'"
                />
              </div>
            </div>
          </div>

          <h6 class="mt-4">{{ 'cluster.form.advanced_options' | translate }}</h6>
          <hr />

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="connection_timeout" class="label">{{ 'cluster.form.connection_timeout' | translate }}</label>
                <input
                  nbInput
                  fullWidth
                  type="number"
                  id="connection_timeout"
                  formControlName="connection_timeout"
                  placeholder="10"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="tags" class="label">{{ 'cluster.form.tags_label' | translate }}</label>
                <input
                  nbInput
                  fullWidth
                  type="text"
                  id="tags"
                  formControlName="tags"
                  [placeholder]="'cluster.form.tags_placeholder' | translate"
                />
              </div>
            </div>
          </div>

          <div class="form-group">
            <nb-checkbox formControlName="enable_ssl">{{ 'cluster.form.enable_ssl' | translate }}</nb-checkbox>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-4 pt-3" style="border-top: 1px solid #edf1f7;">
            <button
              nbButton
              outline
              size="medium"
              status="info"
              type="button"
              (click)="testConnection()"
              [disabled]="loading"
            >
              <nb-icon icon="refresh-outline"></nb-icon>
              {{ 'cluster.form.test_connection' | translate }}
            </button>

            <div class="d-flex gap-3">
              <button
                nbButton
                outline
                size="medium"
                status="basic"
                type="button"
                (click)="onCancel()"
                [disabled]="loading"
              >
                {{ 'common.cancel' | translate }}
              </button>

              <button
                nbButton
                outline
                size="medium"
                status="primary"
                type="submit"
                [disabled]="loading"
              >
                <nb-icon icon="loader-outline" class="spin" *ngIf="loading"></nb-icon>
                {{ 'common.save' | translate }}
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

